{% extends 'component/layout.html' %}

{%block content%}

<div class="wrap">
  <section class="slot-home-body">
    <div class="container">
      <div>
        <h1 class="shine-text big-font text-center">จัดการรายการหวย</h1>
        <h1 class="shine-text big-font text-center">บ้าน : {{houseName}}</h1>
      </div>
      <section class="content">
        <div class="container">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
          <div class="slot-intro">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="title shine-text underline">เลือกรายการหวย</h3>
              </div>
              <div class="d-flex flex-end"style="padding-bottom:10px">
                <a href="/backend/{{username}}/add/detailpic" class="btn btn-light-blue" style="color:black;">เพิ่มรายการหวย</a>
              </div>
            </div>
            <table class="table table-striped">
              <tr>
                <th class="text-center shine-text">ชื่อรายการ</th>
                <th class="text-center shine-text">แก้ไข</th>
                <th class="text-center shine-text">ลบ</th>
              </tr>
              {%for item in huayObject%}
              <tr>
                <td class="text-center">
                  <div class="form-group">
                    {{item}}
                  </div>
                </td>
                <td class="text-center">
                  <a href="/backend/{{username}}/edit/detailpic/{{item.id}}" class="btn btn-yellow" style="color:black;">แก้ไข</a>
                </td>
                <td class="text-center">
                  <a href="#" class="btn btn-pink" style="color:black;">ลบ</a>
                </td>
              </tr>
              {%endfor%}
            </table>
          </div>
        </div>
      </section>

    </div>
    {%endblock content%}