

services:
  web:
    build: .
    ports:
      - "8001:8001"

    environment:
      - DEBUG=True
      # Ensure host allows connection from docker
      - DJANGO_ALLOWED_HOSTS=*     
    restart: unless-stopped
