

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      # Ensure host allows connection from docker
      - DJANGO_ALLOWED_HOSTS=*     
    restart: unless-stopped
