

services:
  web:
    build: .
    ports:
      - "8001:8001"
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      # Ensure host allows connection from docker
      - DJANGO_ALLOWED_HOSTS=*     
    restart: unless-stopped
