{% extends 'component/layout.html' %}

{%block content%}
<div class="wrap">
  <section class="slot-home-body">
    <div class="container">
      <div>
        <h1 class="shine-text big-font text-center">แก้ไข User</h1>
      </div>

      <section class="content">
        <div class="container">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
          <div class="slot-intro">
            <form method="post">
              {%csrf_token%}

              <h3>แก้ไข Username : {{data.house_name_}}</h3>
              <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                  <td class="text-right">ชื่อบ้าน : </td>
                  <td class="text-center">
                    <div class="form-group">
                      <input type="text" class="form-control" name="house_name" value="{{data.house_name}}">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">เครดิตร้าน :</td>
                  <td class="text-center">
                    <div class="form-group">
                      <select name="credit_shop" class="form-control">
                        <option {%if data.credit_shop == True %} selected {% endif %} value="True">ติด</option>
                        <option {%if data.credit_shop == False %} selected {% endif %} value="False">ไม่ติด</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">รูปแบบการสุ่ม<br>เลขเจาะ : </td>
                  <td class="text-center">
                    <div class="form-group">
                      <select name="random_mode" class="form-control">
                        <option {%if data.random_mode == "random_any" %} selected {% endif %} value="random_any">
                          มีหรือไม่มีเลขวิ่ง-รูด ในใบเจาะก็ได้</option>
                        <option {%if data.random_mode == "force_have_main_number" %} selected {% endif %}
                          value="force_have_main_number">บังคับให้มีเลขวิ่ง-รูด ในใบเจาะ</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">วันหมดอายุ : </td>
                  <td class="text-center">
                    <div class="form-group">
                      <input type="date" class="form-control" name="expire_date" value="{{expireDate}}">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">เวลาหมดอายุ : </td>
                  <td class="text-center">
                    <div class="form-group">
                      <input type="time" class="form-control" name="expire_time" value="{{expireTime}}">
                    </div>
                  </td>
                </tr>
              </table>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-default">ส่งข้อมูล</button>
                <a class="btn btn-danger" href="/backend/user/list">ยกเลิก</a>
              </div>
            </form>
          </div>
        </div>
      </section>

    </div>
    {% if status %}
    <script>
      swal("เพิ่มข้อมูลสำเร็จ", "เพิ่มข้อมูลสำเร็จ", "success");
    </script>
    {% endif %}
    {% if error %}
    <script>
      swal("บ้านนี้มีรายละเอียดหวยนี้แล้ว", "บ้านนี้มีรายละเอียดหวยนี้แล้ว", "error");
    </script>
    {% endif %}
    {%endblock content%}