{% extends 'component/layout.html' %}

{%block content%}

<div class="wrap">
  <section class="slot-home-body">
    <div class="container">
      <div>
        <h1 class="shine-text big-font text-center">จัดการข้อมูลบ้าน</h1>
      </div>

      <section class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-left d-block">
              <a href="/" class="btn btn-default">หน้าแรก</a>
            </div>
            <div class="col-sm-6 text-right d-block">
              <a class="btn btn-success font-color-white" href="/backend/huay/list">จัดการหวย</a>
              <a class="btn btn-info font-color-white" href="/backend/user/list">จัดการผู้ใช้</a>
            </div>
          </div>
          <div class="slot-intro">
            <h3 class="title shine-text underline">เลือกบ้าน</h3>
            <table class="table table-striped">
              <form method="POST">
                {%csrf_token%}
                <tr>
                  <th class="text-center shine-text">ชื่อบ้าน</th>
                  <th class="text-center shine-text">รายการ</th>
                  <th class="text-center shine-text">ยืนยัน</th>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="form-group">
                      <select name="house_name" class="form-control">
                        <option value="none">เลือกบ้าน</option>
                        {% for data in profileObject %}
                        <option value="{{data.user.username}}">{{data.house_name}}</option>
                        {% endfor %}
                      </select>
                    </div>
          </div>
          </td>
          <td>
            <div class="text-center">
              <select name="next_page" class="form-control">
                <option value="huay_type">จัดการหวย</option>
                <option value="image">จัดการรูปภาพ</option>
              </select>
            </div>
          </td>

          <td class="text-center"> <button type="submit" class="btn btn-primary">ยืนยัน</button></td>
          </tr>
          </form>
          </table>
        </div>
    </div>
  </section>

</div>
{%if error%}
<script>
  swal("กรุณาเลือกชื่อบ้าน", "กรุณาเลือกชื่อบ้าน", "error");
</script>
{%endif%}
{%endblock content%}