{% extends 'component/layout.html' %}

{%block content%}

<div class="wrap">
  <section class="slot-home-body">
    <div class="container">
      <div>
        <h1 class="shine-text big-font text-center">โปรแกรมสุ่มหวย</h1>
        <h1 class="shine-text big-font text-center">บ้าน {{houseNameThai}}</h1>
        <p class="text-center">ใช้ได้ถึงวันที่ {{expireDateThai}} เวลา 23.59 น.</p>
      </div>

      <!-- GAMES -->
      <div class="row">
        <div class="col-md-12">
          <!-- Top game list -->
          <div class="top-slot-list">
            <div class="row">
              <h2 class="title shine-text underline">ช่วงเช้า</h2>
              {%for item1,item2,item3 in zipDataForLoopMorning%}
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mt-5">
                <a href="/result/{{username}}/{{item2}}" class="btn btn-{{item3}}">{{item1}}</a>
              </div>
              {%endfor%}
            </div>
            <div class="row">
              <h2 class="title shine-text underline">ช่วงบ่าย</h2>
              {%for item1,item2,item3 in zipDataForLoopAfternoon%}
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mt-5">
                <a href="/result/{{username}}/{{item2}}" class="btn btn-{{item3}}">{{item1}}</a>
              </div>
              {%endfor%}
            </div>
            <div class="row">
              <h2 class="title shine-text underline">ช่วงเย็น</h2>
              {%for item1,item2,item3 in zipDataForLoopEvening%}
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mt-5">
                <a href="/result/{{username}}/{{item2}}" class="btn btn-{{item3}}">{{item1}}</a>
              </div>
              {%endfor%}
            </div>
            <div class="row">
              <h2 class="title shine-text underline">อื่นๆ</h2>
              {%for item1,item2,item3 in zipDataForLoopOther%}
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mt-5">
                <a href="/result/{{username}}/{{item2}}" class="btn btn-{{item3}}">{{item1}}</a>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
{% if resultCheckExpire %}
<script>
  swal("หมดอายุแล้ว", "กรุณาติดต่อแอดมินเพื่อต่ออายุ", "error");
</script>
{% endif %}
{%endblock content%}