{% extends 'component/layout.html' %}

{%block content%}

<div class="wrap">
  <section class="slot-home-body">
    <div class="container">
      <div>
        <h1 class="shine-text big-font text-center">จัดการรายการหวย</h1>
        <h1 class="shine-text big-font text-center">บ้าน : {{houseName}}</h1>
      </div>
      <section class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-left d-block">
              <a href="/backend/" class="btn btn-default">ย้อนกลับ</a>
            </div>
            <div class="col-sm-6 text-right d-block">
              <a class="btn btn-success font-color-white" href="/backend/huay/type/add/{{username}}">เพิ่มหวยเข้าบ้าน</a>
            </div>
          </div>
          <div class="slot-intro">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="title shine-text underline">เช้า</h3>
              </div>
            </div>
            <table class="table table-striped">
              <tr>
                <th class="text-center shine-text">ชื่อรายการ</th>
                <th class="text-center shine-text">แก้ไข</th>
                <th class="text-center shine-text">ลบ</th>
              </tr>
              {%for item1,item2 in zipDataForLoopMorning%}
              <tr>
                <td class="text-center">
                  <div class="form-group">
                    {{item2}}
                  </div>
                </td>
                <td class="text-center">
                  <a href="/backend/huay/type/edit/{{username}}/{{item1}}" class="btn btn-yellow"
                    style="color:black;">แก้ไข</a>
                </td>
                <td class="text-center">
                  <a href="#" class="btn btn-pink" style="color:black;">ลบ</a>
                </td>
              </tr>
              {%endfor%}
            </table>
          </div>
          <div class="slot-intro">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="title shine-text underline">บ่าย</h3>
              </div>
            </div>
            <table class="table table-striped">
              <tr>
                <th class="text-center shine-text">ชื่อรายการ</th>
                <th class="text-center shine-text">แก้ไข</th>
                <th class="text-center shine-text">ลบ</th>
              </tr>
              {%for item1,item2 in zipDataForLoopAfternoon%}
              <tr>
                <td class="text-center">
                  <div class="form-group">
                    {{item2}}
                  </div>
                </td>
                <td class="text-center">
                  <a href="/backend/huay/type/edit/{{username}}/{{item1}}" class="btn btn-yellow"
                    style="color:black;">แก้ไข</a>
                </td>
                <td class="text-center">
                  <a href="#" class="btn btn-pink" style="color:black;">ลบ</a>
                </td>
              </tr>
              {%endfor%}
            </table>
          </div>
          <div class="slot-intro">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="title shine-text underline">บ่าย</h3>
              </div>
            </div>
            <table class="table table-striped">
              <tr>
                <th class="text-center shine-text">ชื่อรายการ</th>
                <th class="text-center shine-text">แก้ไข</th>
                <th class="text-center shine-text">ลบ</th>
              </tr>
              {%for item1,item2 in zipDataForLoopEvening%}
              <tr>
                <td class="text-center">
                  <div class="form-group">
                    {{item2}}
                  </div>
                </td>
                <td class="text-center">
                  <a href="/backend/huay/type/edit/{{username}}/{{item1}}" class="btn btn-yellow"
                    style="color:black;">แก้ไข</a>
                </td>
                <td class="text-center">
                  <a href="#" class="btn btn-pink" style="color:black;">ลบ</a>
                </td>
              </tr>
              {%endfor%}
            </table>
          </div>
          <div class="slot-intro">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="title shine-text underline">อื่นๆ</h3>
              </div>
            </div>
            <table class="table table-striped">
              <tr>
                <th class="text-center shine-text">ชื่อรายการ</th>
                <th class="text-center shine-text">แก้ไข</th>
                <th class="text-center shine-text">ลบ</th>
              </tr>
              {%for item1,item2 in zipDataForLoopOther%}
              <tr>
                <td class="text-center">
                  <div class="form-group">
                    {{item2}}
                  </div>
                </td>
                <td class="text-center">
                  <a href="/backend/huay/type/edit/{{username}}/{{item1}}" class="btn btn-yellow"
                    style="color:black;">แก้ไข</a>
                </td>
                <td class="text-center">
                  <a href="#" class="btn btn-pink" style="color:black;">ลบ</a>
                </td>
              </tr>
              {%endfor%}
            </table>
          </div>
        </div>
      </section>
    </div>
    {% if status %}
    <script>
      swal("เพิ่มข้อมูลสำเร็จ", "เพิ่มข้อมูลสำเร็จ", "success");
    </script>
    {% endif %}
    {%endblock content%}