.elementor-15 .elementor-element.elementor-element-611749b > .elementor-container{min-height:500px;}.elementor-15 .elementor-element.elementor-element-611749b > .elementor-background-overlay{background-image:url("../../2021/07/Banner_%c3%a0%c2%b9%c2%82%c3%a0%c2%b8%c2%9b%c3%a0%c2%b8%c2%a3%c3%a0%c2%b9%c2%82%c3%a0%c2%b8%c2%a1%c3%a0%c2%b8%c2%8a%c3%a0%c2%b8%c2%b1%c3%a0%c2%b9%c2%88%c3%a0%c2%b8%c2%99-2.html");background-position:top center;background-repeat:no-repeat;background-size:cover;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-15 .elementor-element.elementor-element-611749b{border-style:solid;border-width:0px 0px 1px 0px;border-color:#35040466;box-shadow:0px 0px 10px 0px rgba(184, 4.000000000000018, 4.000000000000018, 0.75);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-90px;margin-bottom:0px;}.elementor-15 .elementor-element.elementor-element-e46850c{text-align:center;}.elementor-15 .elementor-element.elementor-element-e46850c .elementor-heading-title{color:#000000;font-size:85px;font-weight:300;}.elementor-15 .elementor-element.elementor-element-302581f > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-15 .elementor-element.elementor-element-302581f:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-302581f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EF4343;}.elementor-15 .elementor-element.elementor-element-302581f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-15 .elementor-element.elementor-element-302581f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-4ea3c19.elementor-column .elementor-column-wrap{align-items:center;}.elementor-15 .elementor-element.elementor-element-4ea3c19.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-15 .elementor-element.elementor-element-04d4260{color:#FFFFFF;font-size:20px;font-weight:300;text-shadow:0px 0px 10px #000000;}.elementor-15 .elementor-element.elementor-element-04d4260 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-15 .elementor-element.elementor-element-119c7891{margin-top:0px;margin-bottom:0px;padding:20px 0px 20px 0px;}.elementor-15 .elementor-element.elementor-element-61b1f933:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#D52561D4;}.elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated, .elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated > .elementor-background-overlay, .elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-background-slideshow{border-radius:10px 10px 10px 10px;}.elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated > .elementor-widget-wrap{padding:20px 0px 20px 0px;}.elementor-15 .elementor-element.elementor-element-4db360db{text-align:center;}.elementor-15 .elementor-element.elementor-element-4db360db .elementor-heading-title{color:#FFFFFF;}.elementor-15 .elementor-element.elementor-element-38a9cfe0{text-align:center;color:#FFFFFF;font-family:"Kanit", Sans-serif;font-weight:300;line-height:0em;}.elementor-15 .elementor-element.elementor-element-29c86b3a > .elementor-widget-container{margin:0px 0px 0px 85px;}.elementor-15 .elementor-element.elementor-element-b723a5b{--divider-border-style:solid;--divider-color:#000;--divider-border-width:1px;}.elementor-15 .elementor-element.elementor-element-b723a5b .elementor-divider-separator{width:100%;}.elementor-15 .elementor-element.elementor-element-b723a5b .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-15 .elementor-element.elementor-element-b723a5b .elementor-icon i, .elementor-15 .elementor-element.elementor-element-b723a5b .elementor-icon svg{transform:rotate(0deg);}.elementor-15 .elementor-element.elementor-element-8dbebac{text-align:center;}.elementor-15 .elementor-element.elementor-element-8dbebac .elementor-heading-title{color:#D04E69;font-family:"Kanit", Sans-serif;font-size:26px;text-shadow:0px 0px 2px rgba(66, 12.999999999999996, 59.000000000000014, 0.32);}.elementor-15 .elementor-element.elementor-element-8dbebac > .elementor-widget-container{margin:10px 0px 10px 0px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.55 * 100% );}.elementor-15 .elementor-element.elementor-element-4918082:after{content:"0.55";}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__meta-data span + span:before{content:"•";}.elementor-15 .elementor-element.elementor-element-4918082{--grid-column-gap:25px;--grid-row-gap:46px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__card{border-color:#D04E69;border-radius:10px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__text{padding:0 10px;margin-top:1px;margin-bottom:8px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__meta-data{padding:10px 10px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__avatar{padding-right:10px;padding-left:10px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__title, .elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__title a{color:#D04E69;font-size:20px;line-height:1.3em;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__title{margin-bottom:10px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__excerpt p{font-size:15px;font-weight:300;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__excerpt{margin-bottom:5px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__read-more{color:#D04E69;margin-bottom:8px;}.elementor-15 .elementor-element.elementor-element-4918082 a.elementor-post__read-more{font-weight:300;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination{text-align:center;margin-top:10px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(.dots){color:#FF0000;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination a.page-numbers:hover{color:#FFFFFF;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers.current{color:#FFFFFF;}body:not(.rtl) .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 10px/2 );}body:not(.rtl) .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 10px/2 );}body.rtl .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 10px/2 );}body.rtl .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 10px/2 );}.elementor-15 .elementor-element.elementor-element-4918082 > .elementor-widget-container{margin:0% 0% 1% 0%;}@media(max-width:1024px){.elementor-15 .elementor-element.elementor-element-611749b{border-width:0px 0px 1px 0px;}.elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated{margin:0% 0% 0% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;}.elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated > .elementor-widget-wrap{padding:0% 0% 0% 0%;}.elementor-15 .elementor-element.elementor-element-4db360db > .elementor-widget-container{margin:5px 0px 0px 0px;}.elementor-15 .elementor-element.elementor-element-29c86b3a > .elementor-widget-container{margin:2% 0% 0% 0%;}.elementor-15 .elementor-element.elementor-element-b723a5b .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-15 .elementor-element.elementor-element-8dbebac > .elementor-widget-container{margin:0px 0px 0px 0px;}body:not(.rtl) .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 10px/2 );}body:not(.rtl) .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 10px/2 );}body.rtl .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 10px/2 );}body.rtl .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 10px/2 );}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination{margin-top:19px;}.elementor-15 .elementor-element.elementor-element-4918082 > .elementor-widget-container{margin:0% 0% 3% 0%;}}@media(max-width:767px){.elementor-15 .elementor-element.elementor-element-611749b > .elementor-container{min-height:220px;}.elementor-15 .elementor-element.elementor-element-611749b > .elementor-background-overlay{background-image:url("../../2021/07/mb_banner_%c3%a0%c2%b8%c2%95%c3%a0%c2%b8%c2%b4%c3%a0%c2%b8%c2%94%c3%a0%c2%b8%c2%95%c3%a0%c2%b9%c2%88%c3%a0%c2%b8%c2%ad%c3%a0%c2%b9%c2%80%c3%a0%c2%b8%c2%a3%c3%a0%c2%b8%c2%b2.html");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-15 .elementor-element.elementor-element-611749b{border-width:0px 0px 1px 0px;margin-top:0px;margin-bottom:0px;}.elementor-15 .elementor-element.elementor-element-e46850c .elementor-heading-title{font-size:40px;}.elementor-15 .elementor-element.elementor-element-e46850c > .elementor-widget-container{margin:35px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-4ea3c19.elementor-column .elementor-column-wrap{align-items:center;}.elementor-15 .elementor-element.elementor-element-4ea3c19.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-15 .elementor-element.elementor-element-4ea3c19 > .elementor-element-populated{margin:0px 0px -12px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-15 .elementor-element.elementor-element-04d4260{text-align:center;font-size:18px;}.elementor-15 .elementor-element.elementor-element-04d4260 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-15 .elementor-element.elementor-element-119c7891{padding:10px 5px 0px 5px;}.elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-15 .elementor-element.elementor-element-61b1f933 > .elementor-element-populated > .elementor-widget-wrap{padding:6px 6px 6px 6px;}.elementor-15 .elementor-element.elementor-element-4db360db > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-15 .elementor-element.elementor-element-38a9cfe0{text-align:center;line-height:1.1em;}.elementor-15 .elementor-element.elementor-element-29c86b3a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-15 .elementor-element.elementor-element-8dbebac .elementor-heading-title{font-size:20px;line-height:1.5em;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.55 * 100% );}.elementor-15 .elementor-element.elementor-element-4918082:after{content:"0.55";}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__title, .elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__title a{font-size:18px;line-height:1.4em;letter-spacing:0.2px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__title{margin-bottom:10px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__excerpt p{font-size:15px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__excerpt{margin-bottom:5px;}.elementor-15 .elementor-element.elementor-element-4918082 a.elementor-post__read-more{font-size:10px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__text{margin-bottom:5px;}.elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination{font-size:15px;margin-top:10px;}body:not(.rtl) .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 9px/2 );}body:not(.rtl) .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 9px/2 );}body.rtl .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 9px/2 );}body.rtl .elementor-15 .elementor-element.elementor-element-4918082 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 9px/2 );}.elementor-15 .elementor-element.elementor-element-4918082 > .elementor-widget-container{margin:0% 0% 4% 0%;}}/* Start custom CSS for html, class: .elementor-element-29c86b3a */.allgame,
.clear-row {
    display: block;
    width: 100%;
}

.allgame {
    font-family: 'kanit', sans-serif;
}

.allgame>.boxed-list {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
}

.allgame>.boxed-list .gamebox {
    display: block;
    float: left;
    width: 308px;
    height: 300px;
    margin: 0 20px 20px 0;
}

.game-card,
.game-card>.g-game {
    display: block;
    position: relative;
    height: 277px;
}

.game-card>.g-game {
    width: 100%;
    overflow: hidden;
    border-radius: 14px;
    top: 0;
    transition: all .3s ease;
}

.game-card>.g-game>.g-cover {
    position: relative;
}

.game-card>.g-game>.g-cover,
.game-card>.g-game>.g-reflect {
    display: block;
    width: 100%;
    height: 180px;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
}

.game-card>.g-game>.g-reflect {
    position: absolute;
    top: 180px;
    left: 0;
    z-index: 1;
    transform: rotate(180deg) scaleX(-1);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(.6, transparent), color-stop(.94, #000), color-stop(1, #000));
}

.game-card>.g-game>.g-bg {
    height: calc(100% - 180px);
    transition: height .3s ease;
}

.game-card>.g-game>.g-bg,
.game-card>.g-game>.g-detail {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.game-card>.g-game>.g-detail {
    height: 114px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    transition: bottom .3s ease;
    z-index: 5;
}

.game-card>.g-game>.g-detail>.g-blur {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all .3s ease;
}

.game-card>.g-game .g-detail .g-blur {
    opacity: .3;
}

.game-card>.g-game>.g-detail>.g-blur>.coverimg {
    display: none;
    position: absolute;
    width: 100%;
    height: 240px;
    top: -180px;
    left: 0;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    transition: all .3s ease;
}

.game-card>.g-game>.g-detail>.detailtop {
    display: block;
    position: relative;
    z-index: 1;
    height: 60px;
}

.game-card>.g-game>.g-detail>.detailtop>.d-icon {
    display: block;
    float: left;
    width: 60px;
}

.game-card>.g-game>.g-detail>.detailtop>.d-icon>div>img {
    position: absolute;
    display: block;
    width: 60px;
    bottom: 0;
    left: 0;
}

.game-card>.g-game>.g-detail>.detailtop>.d-note {
    display: block;
    float: right;
    width: calc(100% - 80px);
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.game-card>.g-game>.g-detail>.detailtop>.d-note>b {
    display: block;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0;
    line-height: 20px;
}

.game-card>.g-game>.g-detail>.detailtop>.d-note>span {
    display: -webkit-box;
    opacity: .5;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
    line-height: 14px;
    height: 28px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 0 0;
}

.game-card>.g-game>.g-detail>.detailbottom {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    width: calc(100% - 40px);
    height: calc(100% - 100px);
    bottom: 18px;
    padding-top: 26px;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 18px;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>div>div {
    text-align: left;
    color: #fff;
    letter-spacing: 0;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>div>div.value {
    font-size: 16px;
    line-height: 16px;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>div>div.title {
    font-size: 12px;
    line-height: 12px;
    opacity: .5;
    padding-top: 4px;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>.cert>.image {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2px;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>.cert>.image>img {
    width: auto;
    height: 16px;
    filter: brightness(0) invert(1);
    margin-right: 16px;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>.cert>.image>img:last-child {
    margin: 0;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>.lang>.image>div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 18px;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>.lang>.image {
    display: flex;
    justify-content: flex-start;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>.lang>.image>div>img {
    width: auto;
    height: 100%;
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow>.lang>.image>div>.errImg {
    width: 27px;
    height: 100%;
    border-radius: 2px;
    background: #333;
    color: #fff;
    font-size: 12px;
    border: 1px solid #ccc
}

.game-card>.g-game>.g-detail>.detailbottom>.detailrow:last-child,
.game-card>.g-game>.g-detail>.detailbottom>.detailrow>.lang>.image>div:last-child {
    margin: 0
}

.game-card>.g-game>.g-button {
    display: block;
    position: absolute;
    width: 101%;
    height: 50px;
    background: hsla(0, 0%, 100%, .1);
    bottom: -50px;
    left: 0;
    z-index: 1;
    transition: all .3s ease
}

.game-card>.g-game>.g-button:before {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background: hsla(0, 0%, 100%, .2);
    top: calc(50% - 15px);
    left: 50%
}

.game-card>.g-game>.g-button:hover:before {
    background: hsla(0, 0%, 100%, 0)
}

.game-card>.g-game>.g-button.onebutton:before {
    display: none
}

.game-card>.g-game>.g-button.onebutton>a:nth-child(2),
.game-card>.g-game>.g-button.onebutton>div {
    width: 100%;
    margin-left: 0
}

.game-card>.g-game>.g-button>a,
.game-card>.g-game>.g-button>div {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
    height: 50px;
    box-sizing: border-box;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden
}

.game-card>.g-game>.g-button>a:nth-child(2),
.game-card>.g-game>.g-button>div:nth-child(2) {
    margin-left: 1px;
    width: calc(50% - 2px)
}

.game-card>.g-game>.g-button>a:hover,
.game-card>.g-game>.g-button>div:hover {
    background: hsla(0, 0%, 100%, .2)
}

.game-card:hover {
    cursor: pointer
}

.game-card:hover>.g-game {
    top: -15px;
    box-shadow: 0 30px 20px -20px rgba(14, 6, 23, .3)
}

.game-card:hover.trynow {
    cursor: default
}

.game-card:hover.trynow>.g-game>.g-detail {
    bottom: 50px
}

.game-card:hover.trynow>.g-game>.g-detail>.g-blur>.coverimg {
    top: -130px
}

.game-card:hover.trynow>.g-game>.g-button {
    bottom: 0
}

@supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
    .game-card>.g-game .g-detail {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px)
    }
    .game-card>.g-game .g-detail .g-blur {
        opacity: .3
    }
}

@media screen and (max-width:575px) {
    .game-card>.g-game .g-reflect {
        filter: blur(4px);
        -webkit-filter: blur(4px)
    }
    .game-card>.g-game .g-detail .g-blur {
        opacity: .9
    }
    .game-card>.g-game .g-detail>.detailbottom>.detailrow>.cert>.image>img {
        height: 14px
    }
    .game-card:hover>.g-game {
        top: 0;
        box-shadow: 0 10px 20px 0 transparent
    }
    @supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
        .game-card>.g-game .g-reflect {
            filter: blur(0);
            -webkit-filter: blur(0)
        }
        .game-card>.g-game .g-detail {
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px)
        }
        .game-card>.g-game .g-detail .g-blur {
            opacity: .3
        }
    }
}

@media screen and (max-width:767px) {
    .allgame>.boxed-list .gamebox {
        margin: 0 auto 40px;
        float: none;
    }
    .allgame>.boxed-list {
        justify-content: center;
    }
}

@media screen and (min-width:768px) and (max-width:1000px) {
    .allgame>.boxed-list {
        max-width: 660px;
    }
    .allgame>.boxed-list .gamebox:nth-child(3n+3) {
        margin: 0 0 20px;
    }
    .allgame>.boxed-list .gamebox:nth-child(odd) {
        float: left;
    }
    .allgame>.boxed-list .gamebox:nth-child(2n) {
        float: right;
        margin-right: 0;
    }
}

@media screen and (min-width:1000px) {
    .allgame>.boxed-list .gamebox:nth-child(3n+3) {
        margin: 0 0 20px;
    }
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-4918082 */.elementor-15 .elementor-element.elementor-element-4918082 .elementor-post__excerpt p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}/* End custom CSS */