{% extends 'component/layout.html' %}

{%block content%}

<div class="wrap">
  <section class="slot-home-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="navbar-header-feature d-flex justify-content-center mt-5">
            <div class="navbar-header-login-logout">
              <h1 class="text-center">โปรแกรมสุ่มหวย</h1>
              <div class="d-flex justify-content-center">
                <form class="form_login" method="post">
                  {%csrf_token%}
                    <div class="col-sm-12 mt-5">
                      <label for="username" style="font-size: 18px;">ใส่ ID บ้าน เพื่อเข้าสู่ระบบ</label>
                      <input type="text" class="form-control" id="username" placeholder="เช่น permsub695" name="username" />
                    </div>
                    <div class="col-sm-12 d-flex justify-content-center mt-5">
                      <div class="login-button-container">
                        <button type="submit">เข้าสู่ระบบ</button>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="content">
    <div class="container">
      <div class="slot-intro">
        <h2 class="title shine-text underline">โปรแกรมสุ่มหวยคืออะไร</h2>
        <p style="text-indent:34px;">โปรแกรมสุ่มเลขแนวทาง อันโนมัติ สำหรับการใบ้หวย สะดวก ประหยัดเวลา ไม่ต้องมานั่งทำเองทีละรูป</p>
        <h2 class="title shine-text underline">ทำงานอย่างไร</h2>
        <p>สุ่มหวยตามเงื่อนไขต่อไปนี้</p>
        <ul>
          <li>ตัวเลข 2 ตัวหลักจะไม่ซ้ำกัน</li>
          <li>ตัวเลข 2 ตัวหลักที่มีจำนวนน้อยกว่าจะอยู่ด้านหน้า เช่น 9 - 2 จะสลับเป็น 2 - 9 อัตโนมัติ</li>
          <li>จะไม่มีเลขเบิ้ล เช่น 11 , 22 , 33 เป็นต้น</li>
          <li>เมื่อหมดอายุ ระบบจะตัดการใช้งานอัตโนมัติ</li>
          <li>ตัวเลขรองแถวแรกจะเรียงจากน้อยไปมาก</li>
          <li>ตัวเลขรองแถวที่สองจะเรียงจากน้อยไปมากเช่นกัน</li>
          <li>ตัวเลขรองแถวที่สองจะไม่เป็นเลขสลับกับแถวแรก (เลขโต๊ด) เช่น ถ้าแถวแรกมี 32 แถวล่างจะไม่มี 23</li>
        </ul>
        <h2 class="title shine-text underline">วิธีบันทึกรูปภาพ</h2>
        <h4 class="title shine-text underline">ในมือถือ</h4>
        <p style="text-indent:36px;">กดค้างที่รูป แล้วกด "บันทึกรูป"</p>
        <h4 class="title shine-text underline">ในคอมพิวเตอร์</h4>
        <p style="text-indent:36px;">คลิกขวาที่รูป แล้วกด "บันทึกรูป"</p>
        <h2 class="title shine-text underline">ค่าบริการ</h2>
        <table class="table table-striped">
          <tr>
            <th class="text-center shine-text">รายละเอียด</th>
            <th class="text-center shine-text">ลูกค้าใหม่</th>
            <th class="text-center shine-text">ลูกค้าเก่า</th>
          </tr>
          <tr>
            <td>ค่าบริการแรกเข้า กำหนดตำแหน่งตัวอักษร, สีตัวอักษร, ขอบสีตัวอักษร และ ขนาดตัวอักษร ลงบนรูป ใบใบ้หวย</td>
            <td class="text-center">100 บาท</td>
            <td class="text-center">-</td>
          </tr>
          <tr>
            <td>ค่าบริการรายเดือน (ไม่จำกัดกลุ่ม)</td>
            <td class="text-center">700 บาท</td>
            <td class="text-center">700 บาท</td>
          </tr>
        </table>
        <h3 class="title shine-text underline">ส่วนลดพิเศษ (เลือกได้)</h3>
        <table class="table table-striped">
          <tr>
            <th class="text-center shine-text">รายละเอียด</th>
            <th class="text-center shine-text">ลูกค้าใหม่</th>
            <th class="text-center shine-text">ลูกค้าเก่า</th>
          </tr>
          <tr>
            <td>ติดลายน้ำของทางร้าน</td>
            <td class="text-right">ลดราคา 100 บาท / เดือน</td>
            <td class="text-right">ลดราคา 100 บาท / เดือน</td>
          </tr>
          <tr>
            <td>แนะนำเพื่อน</td>
            <td class="text-right">ลดราคา 100 บาท / เดือน (จำกัด 2 คน/เดือน)</td>
            <td class="text-right">ลดราคา 100 บาท / เดือน (จำกัด 2 คน/เดือน)</td>
          </tr>
        </table>
        <h3 class="title shine-text underline">วิธีสั่งซื้อ</h3>
        <p style="text-indent:36px;">แอดไลน์ @789ojdsx (<a href="https://lin.ee/b1qJISw">https://lin.ee/b1qJISw</a>)
        </p>
        <h3 class="title shine-text underline">ตัวอย่าง</h3>
        <div class="text-center">
        <img src="/static/images/result-hua/permsub695-result.jpg" style="max-width:50%" alt="">
        </div>
      </div>
    </div>
  </section>
</div>
</div>

{%if error%}
<script>
  swal("ไม่มีบ้านหวยนี้", "กรุณาตรวจสอบชื่อบ้าน หรือติดต่อ Admin", "error");
</script>
{%endif%}

{%endblock content%}
{%block javascripts%}
{%endblock javascripts%}