{% extends 'component/layout.html' %}

{%block content%}

<div class="wrap">
  <section class="slot-home-body">
    <div class="container">
      <div>
        <h1 class="shine-text big-font text-center">จัดการรูปภาพของ User</h1>
        <h2 class="shine-text big-font text-center">บ้าน {{profileObject.house_name}}</h2>
      </div>

      <section class="content">
        <div class="container">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
          <div class="slot-intro">
            <div class="d-flex justify-content-between">
              <div>
                <a href="/backend/" class="btn btn-default">ย้อนกลับ</a>
                <h3 class="title shine-text underline">เลือกรายการรูปภาพ</h3>
              </div>
              <div class="d-flex flex-end" style="padding-bottom:10px">
                <a href="/backend/user/image/add/{{username}}" class="btn btn-light-blue" style="color:black;">เพิ่มรูปภาพ</a>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                  <th class="text-center shine-text">ชื่อรูป</th>
                  <th class="text-center shine-text">แก้ไข</th>
                </tr>
                {%for item in imageHouseObject %}
                <tr>
                  <td class="text-center">
                    <div class="form-group">
                      {{item}}
                    </div>
                  </td>
                  <td class="text-center">
                    <a href="/backend/user/image/edit/{{username}}/{{item.id}}" class="btn btn-yellow" style="color:black;">แก้ไข</a>
                  </td>
                </tr>
                {%endfor%}
              </table>
            </div>
          </div>
        </div>
      </section>

    </div>
    {%if status%}
    <script>
      swal("เพิ่มรูปภาพเสร็จสิ้น", "เพิ่มรูปภาพเสร็จสิ้น", "success");
    </script>
    {%endif%}
    {%if statusedit%}
    <script>
      swal("แก้ไขรูปภาพเสร็จสิ้น", "แก้ไขรูปภาพเสร็จสิ้น", "success");
    </script>
    {%endif%}
    {%endblock content%}